*{
    margin: 0;
    padding: 0;
}

body{
    background-color: beige;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem; /*curved border*/
    border: none; /*remove border*/
    box-shadow: 0 0 1rem rgba(151, 165, 29, 0.3);
    font-size: 8vmin;
    color: orangered;
    background-color: aquamarine;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: gray;
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: gray;
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: rgb(206, 149, 7);
    font-size: 5vmin;

}

.msg-conatiner{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display:none;
}